/* HERO */
.hero {
    position: relative;
    width: 100%;
    height: calc(50vh - 80px);
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-bg {
    display: none;
}
.mobile-bg {
    display: block;
    width: 100%;
    height: 100%;
}

.logo-container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo-container img {
    width: calc(100% - 80px);
    max-width: 1000px;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transform: scale(1.1);
}

.st0 {
    fill: var(--color-primary);
}

/* GRID */
.home-container {
    max-width: 1400px;
    margin: 50px auto 50px;
    padding: 0 1rem;
    color: var(--color-primary);
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

/* No eventos */
.home-no-eventos {
    grid-column: 1 / -1;
    text-align: center;
    padding: 3rem;
    color: #666;
    font-size: 1.2rem;
}

/* Ubicación */
h2 {
    margin-bottom: 2rem;
}

.home-mapa {
    width: 100%;
}

/* Versión para tablet */
@media (min-width: 768px) {
    .hero {
        height: calc(100vh - 80px);
    }
    .home-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 0.5rem;
    }
}

/* Versión para escritorio */
@media (min-width: 1025px) {
    .hero {
        height: calc(100vh - 80px);
    }
    .mobile-bg {
        display: none;
    }
    
    .desktop-bg {
        display: block;
        width: 100%;
        height: 100%;
    }

    .home-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        column-gap: 0.5rem;
        row-gap: 1rem;
    }
}