/** HOME CARDS **/
.home-evento-card {
    background: var(--color-white);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.home-evento-imagen {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.evento-sin-imagen {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../../img/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.home-evento-imagen img, .home-evento-sin-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.evento-fecha {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: rgba(0, 0, 0, 0.7);
    color: var(--color-white);
    padding: 0.5rem;
    text-align: center;
    border-radius: 5px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.evento-fecha .dia {
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
}

.evento-fecha .mes {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-left: 0.5rem;
}

.evento-contenido {
    padding: 1rem 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.evento-cabecera {
    margin-bottom: 1rem;
}

.evento-titulo {
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
    color: var(--color-black);
}

.evento-hora {
    color: var(--color-black);
    font-size: 0.9rem;
    display: flex;
}

.home-evento-precios {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.precio {
    background: #f5f5f559; /*REVISAR*/
    padding: 0.25rem 0.75rem;
    border-radius: 20px;
    font-size: 0.8rem;
    color: var(--color-black);
}

.evento-acciones {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

/** AGENDA CARDS **/
.evento-card {
    background: var(--color-white);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.evento-imagen {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.evento-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.evento-descripcion {
    display: none;
}

.evento-precios {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

/* Versión para tablet */
@media (min-width: 768px) {
    .evento-card {
        flex-direction: row;
        max-height: 250px;
    }

    .evento-imagen {
        width: 300px;
        height: 250px;
        flex-shrink: 0;
    }

    .evento-precios {
        justify-content: left;
    }
}

/* Versión para escritorio */
@media (min-width: 1025px) {
    .eventos-grid {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .evento-card {
        max-height: 300px;
    }

    .evento-imagen {
        width: 350px;
        height: 300px;
    }

    .evento-descripcion {
        display: block;
    }

    .evento-precios {
        justify-content: left;
    }
}